.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Button {
  background-color: green;
  color: white;
  font-size: 18px;
  border: 2px solid lightblue;
  padding: 10px;
  cursor: pointer;
}
.Button:hover {
  background-color: yellowgreen;
  color: black;
}
